@layer components {
    .solitude-article-container {
        width: 100%;
        margin-top: 15vh;
    }

    .solitude-article-meta {
        height: 900px;
    }

    .solitude-article-meta-primary-tags {
        height: 300px;
        width: 100%;
        padding-top: 60px;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    .solitude-article-meta-other-tags {
        height: 300px;
        width: 100%;
        padding-bottom: 55px;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    .solitude-article-meta h1 {
        font-size: 2.7rem;
        font-weight: bold;
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
    }

    .solitude-article-content {
        padding-top: 3.5rem;
        padding-left: 7.2rem;
        padding-right: 7.2rem;
    }

    .solitude-article-content h1 {
        font-size: 2.7rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: var(--text-content-primary);
    }

    .solitude-article-content h2 {
        font-size: 2.25rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: var(--text-content-primary);
    }

    .solitude-article-content h3 {
        font-size: 1.75rem;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
        color: var(--text-content-secondary);
    }

    .solitude-article-content h4 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
        color: var(--text-content-secondary);
    }

    .solitude-article-content a {
        color: var(--primary);
    }

    .solitude-article-content p {
        color: var(--text-content-primary);
        font-size: 1.15rem;
        line-height: 1.9rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .solitude-article-content strong {
        color: var(--text-content-primary);
        font-weight: bold;
    }

    .solitude-article-content ul {
        font-size: 1.15rem;
        margin-left: 2.5rem;
        list-style-type: disc;
    }

    .solitude-article-content ul p {
        font-size: 1.15rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .solitude-article-content ul li {
        font-size: 1.15rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .solitude-article-rail {
        background-color: var(--muted);
        opacity: 0.85;
    }

    .dark .solitude-article-rail {
        background-color: var(--muted);
        opacity: 0.95;
    }

    .solitude-article-body {
        background-color: var(--card);
    }
}
