---
import ThemeSwitch from './ThemeSwitch';
import LanguageSwitcher from './LanguageSwitcher';
---

<div class="flex h-full grow flex-row-reverse items-center gap-2 pr-[3.5em]">
    <ThemeSwitch client:visible />
    <LanguageSwitcher client:visible />
</div>
