---
import { Image } from 'astro:assets';

interface Props {
    logoImageUrl: string;
    siteTitle: string;
    siteSubTitle: string;
}

const { logoImageUrl, siteTitle, siteSubTitle } = Astro.props;
const hasLogo = logoImageUrl && logoImageUrl.length > 0;
---

<div class="flex h-full items-center space-x-10 px-10">
    {
        hasLogo && (
            <Image
                src={logoImageUrl}
                height={400}
                width={400}
                alt="brand-logo"
                class="h-1/2 min-h-[100px] w-auto rounded-[18%]"
            />
        )
    }
    <div class="text-color-ui grid grid-cols-1 gap-3">
        <a
            class="text-4xl font-bold text-[var(--text-site-title)] subpixel-antialiased"
            >{siteTitle}</a
        >
        <a
            class="text-xl font-medium text-[var(--text-site-subtitle)] subpixel-antialiased"
            >{siteSubTitle}</a
        >
    </div>
</div>
