---
import ThemeSwitch from './ThemeSwitch.astro';
import LanguageSwitcher from './LanguageSwitcher';
import type { Locale } from '@lib/i18n';

interface Props {
    availableLocales?: readonly Locale[] | undefined;
    displayLocale?: Locale | undefined;
}

const { availableLocales, displayLocale } = Astro.props;
---

<div
    class:list={[
        'flex h-full grow flex-row-reverse items-center',
        'gap-1 sm:gap-2',
        'pr-4 sm:pr-6 md:pr-8 lg:pr-10 xl:pr-12 2xl:pr-14',
    ]}
>
    <ThemeSwitch />
    <LanguageSwitcher
        availableLocales={availableLocales}
        displayLocale={displayLocale}
        client:visible
    />
</div>
