---
interface Props {
    isFixed?: boolean;
}

const { isFixed = false } = Astro.props;
---

<nav class:list={['h-[14vh] w-full', isFixed ? 'fixed top-0' : '']}>
    <div class="flex h-full">
        <slot />
    </div>
</nav>
