---
import IndexPostsContainer from "../../components/index/main/IndexPostsContainer.astro";

import IndexWelcome from "../../components/index/main/IndexWelcome.astro";

const {posts} = Astro.props;
---

<div class="solitude-index-main grid grid-cols-12 pb-10 content-end">
    <IndexWelcome/>
    <IndexPostsContainer posts={posts}/>
</div>

<style>
    .solitude-index-main {
        height : 75vh;
    }
</style>
