---
import {IndexPostsContainer, IndexWelcome} from "@components/home/home"

const {posts} = Astro.props;
---

<div class="solitude-index-main grid grid-cols-12 content-end">
    <IndexWelcome/>
    <IndexPostsContainer posts={posts} client:load/>
</div>

<style>
    .solitude-index-main {
        width          : 100vw;
        height         : 75vh;
        padding-bottom : 5px;
    }
</style>
