---
import NavbarUtility from '../../components/index/navbar/NavbarUtility.astro';
import NavbarBrand from "../../components/index/navbar/NavbarBrand.astro";

interface Props {
    logoImageUrl: string
    siteTitle: string,
    siteSubTitle: string
}

const {logoImageUrl, siteTitle, siteSubTitle} = Astro.props;
---

<nav class="solitude-navbar">
    <div class="flex h-full">
        <NavbarBrand logoImageUrl={logoImageUrl} siteTitle={siteTitle} siteSubTitle={siteSubTitle}/>
        <NavbarUtility/>
    </div>
</nav>

<style>
    .solitude-navbar {
        height : 15vh;
    }
</style>
