---
interface Props {
    isPinned?: boolean;
}

const {isPinned = false} = Astro.props;
---

<nav class:list={["solitude-navbar", isPinned ? "fixed bottom-0" : ""]}>
    <div class="flex h-full">
        <slot/>
    </div>
</nav>

<style>
    .solitude-navbar {
        height : 15vh;
    }
</style>
