/**
 * 文章内容容器样式
 */

@layer components {
    .solitude-article-content {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media (min-width: 640px) {
        .solitude-article-content {
            padding-top: 2.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media (min-width: 768px) {
        .solitude-article-content {
            padding-top: 3rem;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    @media (min-width: 1024px) {
        .solitude-article-content {
            padding-top: 3.5rem;
            padding-left: 8rem;
            padding-right: 8rem;
        }
    }

    @media (min-width: 1280px) {
        .solitude-article-content {
            padding-left: 12rem;
            padding-right: 12rem;
        }
    }

    @media (min-width: 1536px) {
        .solitude-article-content {
            padding-left: 15rem;
            padding-right: 15rem;
        }
    }
}
