---
import ThemeSwitch from "./ThemeSwitch";
---

<div class="solitude-navbar-utility grow flex flex-row-reverse items-center">
    <ThemeSwitch client:visible/>
</div>

<style>
    .solitude-navbar-utility {
        height: inherit;
        padding-right: 3.5em;
    }
</style>
