---
interface Props {
    isFixed?: boolean;
}

const { isFixed = false } = Astro.props;
---

<div
    class:list={[
        'grid min-h-[8rem] w-full grid-cols-3 px-14 pt-2 pb-4',
        isFixed ? 'fixed bottom-0' : '',
    ]}
>
    <slot />
</div>
