---
interface Props {
    isFixed?: boolean;
}

const {isFixed = false} = Astro.props;
---

<nav class:list={["solitude-navbar", isFixed ? "fixed top-0" : ""]}>
    <div class="flex h-full">
        <slot/>
    </div>
</nav>

<style>
    .solitude-navbar {
        height : 15vh;
        width  : 100%;
    }
</style>
