.text-color-site-title {
    color : #222222;
}

html.dark .text-color-site-title {
    color : #FFFFFF;
}

.text-color-site-subtitle {
    color : #222222;
}

html.dark .text-color-site-subtitle {
    color : #FFFFFF;
}

.text-color-article-title {
    color : #222222;
}

html.dark .text-color-article-title {
    color : #FFFFFF;
}

.text-color-article-title-content {
    color : #222222;
}

html.dark .text-color-article-title-content {
    color : #FFFFFF;
}

.text-color-ui {
    color : #222222;
}

html.dark .text-color-ui {
    color : #FFFFFF;
}