:root {
    /* 站点标题相关文本 */
    --text-site-title          : #0D0D0D;
    --text-site-subtitle       : #505050;

    /* UI 组件文本） */
    --text-ui-primary          : #1A1A1A;
    --text-ui-secondary        : #555555;

    /* 正文文本） */
    --text-content-primary     : #222222;
    --text-content-secondary   : #555555;

    /* 标签（tag）文本 */
    --text-tag-primary         : #111111;
    --text-tag-secondary       : #111111;
    --text-tag-alt             : #111111;

    /* Index卡片背景 */
    --background-index-card-header   : #111111;
    --background-index-card-footer   : #111111;

    /* 标签背景 */
    --background-tag-primary   : #111111;
    --background-tag-secondary : #111111;
    --background-tag-alt       : #111111;
}

html.dark {
    /* 站点标题相关文本 */
    --text-site-title          : #F0F0F0;
    --text-site-subtitle       : #DDDDDD;

    /* UI 组件文本 */
    --text-ui-primary          : #EAEAEA;
    --text-ui-secondary        : #AAAAAA;

    /* 正文文本 */
    --text-content-primary     : #DCDCDC;
    --text-content-secondary   : #A0A0A0;

    /* 标签（tag）文本 */
    --text-tag-primary         : #111111;
    --text-tag-secondary       : #111111;
    --text-tag-alt             : #111111;

    /* Index卡片背景 */
    --background-index-card-header   : #111111;
    --background-index-card-footer   : #111111;

    /* 标签背景 */
    --background-tag-primary   : #111111;
    --background-tag-secondary : #111111;
    --background-tag-alt       : #111111;
}