@import '@fontsource-variable/noto-sans-sc';
@import '@fontsource-variable/noto-sans-jp';
@import '@fontsource-variable/noto-sans';
@import 'tailwindcss';
@import './theme.css';
@import './tailwind-settings.css';
@import './components/article/index.css';
@import './components/navbar.css';
@import './components/dock.css';
@import './utilities/text-utilities.css';
