.post-view-card {
    height        : 90%;
    width         : 85%;
    padding-left  : 1rem;
    padding-right : 1rem;
    border-radius : 30px;
}

.post-view-card-primary-tags {
    height : 4rem;
}

.post-view-card-title {
    height        : 15%;
    font-size     : 1.5rem;
    font-weight   : bold;
    padding-left  : 1.5rem;
    padding-right : 1.5rem;
    margin-bottom : 10%;
}

.post-view-card-content {
    font-size     : 1.1rem;
    height        : 55%;
    padding-left  : 1rem;
    padding-right : 1rem;
}

.post-view-card-secondary-tags {

}