---

---

<div class="solitude-index-post-container col-span-8 grid grid-cols-4 gap-12 px-10">
    <slot/>
</div>

<style>
    .solitude-index-post-container {
        height: 14.5em;
        padding-right: 12em;
    }
</style>