---
interface Props {
    navItemList: string[];
}

const {navItemList} = Astro.props;
---

<div class="solitude-docker-nav flex items-center justify-center space-x-20 text-white bg-zinc-800 shadow-xl">
    {
        navItemList.map((navItem: string) => {
            return (
                    <div>
                        <a class="font-medium">{navItem}</a>
                    </div>
            );
        })
    }
</div>

<style>
    .solitude-docker-nav {
        border-radius : 1.5em;
        width         : 35vw;
        height        : 50%;
        min-height    : 50px;
        opacity       : 85%;
    }
</style>