---
import type {SiteNavigation} from "../../apiClients/ghostSettings";

interface Props {
    navItemList: SiteNavigation[];
}

const {navItemList} = Astro.props;
---
<div class="justify-items-center">
    <div class="solitude-dock-nav flex items-center justify-center space-x-14 bg-gray-100  dark:bg-zinc-800 shadow-xl">
        {
            navItemList.map((navItem: SiteNavigation) => {
                return (
                        <div>
                            <a class="font-medium">{navItem.label}</a>
                        </div>
                );
            })
        }
    </div>
</div>

<style>
    .solitude-dock-nav {
        border-radius : 2em;
        width         : 45em;
        height        : 3.5em;
        min-height    : 50px;
        opacity       : 85%;
    }
</style>