---
import DockNav from "../../components/dock/DockNav.astro";

interface Props {
    navItemList: string[]
}

const {navItemList} = Astro.props;
---
<div class="solitude-dock flex justify-center px-14">
    <DockNav navItemList={navItemList}/>
</div>

<style>
    .solitude-dock {
        height : 10vh;
        padding-top: 2em;
    }
</style>