---
interface Props {
    isPinned?: boolean;
}

const {isPinned = false} = Astro.props;
---
<div class:list={["solitude-dock grid grid-cols-3 px-14", isPinned ? "fixed bottom-0" : ""]}>
    <slot/>
</div>

<style>
    .solitude-dock {
        height      : 10vh;
        padding-top : 2em;
        width: 100vw;
    }
</style>