---
import type { FeaturedPost } from '@api/ghost/types';

interface Props {
    featuredPosts: FeaturedPost[];
}

const { featuredPosts } = Astro.props;
---

<div class="flex h-[30vh] w-full items-center justify-center">
    {featuredPosts[0]?.title}
</div>
