---

---

<div
    class="welcome-title flex h-[45svh] w-full justify-center pt-[28.5svh] text-center text-[3.5em] font-bold opacity-90"
>
    Hi there, I'm SolitudeRA
</div>

<style>
    .welcome-title {
        color: var(--text-site-title);
    }
</style>
