---

---

<div
    class="welcome-title flex h-auto min-h-[35svh] w-full justify-center pt-[15svh] text-center text-[2em] font-bold opacity-90 md:h-[45svh] md:min-h-0 md:pt-[28.5svh] md:text-[3.5em]"
>
    Hi there, I'm SolitudeRA
</div>

<style>
    .welcome-title {
        color: var(--text-site-title);
    }
</style>
