---

---

<div class="py-10">
    <h1 class="text-4xl font-bold mb-6">Contact</h1>

    <div class="space-y-8">
        <div>
            <h2 class="text-xl font-semibold mb-3">Mail</h2>
            <p>
                <a
                    href="mailto:solitude@solitude-lab.net"
                    class="text-blue-600 dark:text-blue-400 hover:underline"
                    >solitude@protogalaxy.me</a>
            </p>
        </div>

        <div>
            <h2 class="text-xl font-semibold mb-3">Social</h2>
            <div class="space-y-2">
                <p>
                    <span class="font-medium mr-2">GitHub:</span>
                    <a
                        href="https://github.com/Solitude-E"
                        class="text-blue-600 dark:text-blue-400 hover:underline"
                        target="_blank">@SolitudeRA</a
                    >
                </p>
                <p>
                    <span class="font-medium mr-2">Twitter:</span>
                    <a
                        href="https://x.com/SolitudeRA"
                        class="text-blue-600 dark:text-blue-400 hover:underline"
                        target="_blank">@SolitudeRA</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>
