---

---

<div class="py-10">
    <h1 class="mb-6 text-4xl font-bold">Contact</h1>

    <div class="space-y-8">
        <div>
            <h2 class="mb-3 text-xl font-semibold">Mail</h2>
            <p>
                <a
                    href="mailto:solitude@solitude-lab.net"
                    class="text-blue-600 hover:underline dark:text-blue-400"
                    >solitude@protogalaxy.me</a
                >
            </p>
        </div>

        <div>
            <h2 class="mb-3 text-xl font-semibold">Social</h2>
            <div class="space-y-2">
                <p>
                    <span class="mr-2 font-medium">GitHub:</span>
                    <a
                        href="https://github.com/Solitude-E"
                        class="text-blue-600 hover:underline dark:text-blue-400"
                        target="_blank">@SolitudeRA</a
                    >
                </p>
                <p>
                    <span class="mr-2 font-medium">Twitter:</span>
                    <a
                        href="https://x.com/SolitudeRA"
                        class="text-blue-600 hover:underline dark:text-blue-400"
                        target="_blank">@SolitudeRA</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>
