---

---
<div class="justify-items-center">
    <div class="solitude-dock-nav flex items-center justify-center space-x-14 bg-gray-100  dark:bg-zinc-800 shadow-xl">
        <div>
            <a href="/" class="font-medium">Home</a>
        </div>
        <div>
            <a href="/posts/[post]" class="font-medium">Posts</a>
        </div>
        <div>
            <a href="/about" class="font-medium">About Me</a>
        </div>
        <div>
            <a href="/contact" class="font-medium">Contact</a>
        </div>
        <div>
            <a href="" class="font-medium">RSS</a>
        </div>
        <div>
            <a href="/privacy-policy" class="font-medium">Privacy Policy</a>
        </div>
    </div>
</div>

<style>
    .solitude-dock-nav {
        border-radius : 2em;
        width         : 45rem;
        height        : 3.5rem;
        min-height    : 50px;
        opacity       : 85%;
    }
</style>