---
import DockTimelineContainer from "@components/global/dock/DockTimeline/DockTimelineContainer.tsx";
import type {IndexHighlightPost} from "@apiClients/ghostPosts.ts";

interface Props {
    posts: IndexHighlightPost[]
}

const {posts} = Astro.props;
---
<div class="justify-items-center">
    <DockTimelineContainer posts={posts}/>
</div>