---
import { Avatar } from '@components/common/avatar';
import {
    FaGithub,
    FaSquareXTwitter,
    FaSteam,
    FaSpotify,
    FaBilibili,
} from 'react-icons/fa6';
import solitudeAvatar from '@assets/avatar.jpg';
---

<div class="text-color-ui flex min-h-[5em] items-center justify-end">
    <div class="mr-14 flex items-center space-x-12">
        <span>
            <a href="https://github.com/SolitudeRA" target="_blank">
                <FaGithub className="h-8 w-8" />
            </a>
        </span>
        <span>
            <a href="https://x.com/SolitudeRA" target="_blank">
                <FaSquareXTwitter className="h-8 w-8" />
            </a>
        </span>
        <span>
            <a href="https://steamcommunity.com/id/SolitudeRA/" target="_blank">
                <FaSteam className="h-8 w-8" />
            </a>
        </span>
        <span>
            <a href="https://open.spotify.com/user/29a85ixn15w4zcbmb0lkix9h3?si=1c70dc8fa5dc418c" target="_blank">
                <FaSpotify className="h-8 w-8" />
            </a>
        </span>
        <span>
            <a href="https://space.bilibili.com/1724972" target="_blank">
                <FaBilibili className="h-8 w-8" />
            </a>
        </span>
    </div>
    <div>
        <a href="/about">
            <Avatar
                className="h-20 w-20 shadow-xl"
                src={solitudeAvatar.src}
                showFallback={true}
                client:visible
            />
        </a>
    </div> 
</div>
