---

---

<div class="solitude-index-welcome col-span-12 text-center">
    Hi there, I'm SolitudeRA
</div>

<style>
    .solitude-index-welcome{
        font-size: 3.5em;
        font-weight: bold;
        height: 30vh;
        padding-top: 4vh;
    }
</style>
