---
import Welcome from '@components/home/Welcome.astro';
import PostsShowcase from '@components/home/PostsShowcase.astro';
import type { FeaturedPost } from '@api/ghost/types';

interface Props {
    posts: FeaturedPost[];
}

const { posts } = Astro.props;
const featuredPosts = posts || [];
---

<div class="flex h-[75vh] w-full flex-col">
    <Welcome />
    <PostsShowcase featuredPosts={featuredPosts} />
</div>
