---
import Welcome from '@components/home/Welcome.astro';
import PostsShowcase from '@components/home/PostsShowcase.astro';
import type { FeaturedPost } from '@api/ghost/types';

interface Props {
    posts: FeaturedPost[];
}

const { posts } = Astro.props;
const featuredPosts = posts || [];
---

<div class="flex min-h-[75vh] w-full flex-col">
    <Welcome />
    <div class="flex-1 flex items-end justify-start pl-6 pb-10">
        <div class="w-full max-w-[56%]">
            <PostsShowcase featuredPosts={featuredPosts} />
        </div>
    </div>
</div>
