---
import Welcome from '@components/home/Welcome.astro';
import PostsShowcase from '@components/home/PostsShowcase.astro';
import type { FeaturedPost } from '@api/ghost/types';
import type { Locale } from '@lib/i18n';

interface Props {
    posts: FeaturedPost[];
    locale: Locale;
}

const { posts, locale } = Astro.props;
const featuredPosts = posts || [];
---

<div class="flex min-h-[75svh] w-full flex-col md:min-h-[75svh]">
    <Welcome />
    <div class="flex flex-1 items-end justify-start px-4 pb-4 md:pb-7 md:pl-7">
        <div class="w-full max-w-full md:max-w-[56%]">
            <PostsShowcase featuredPosts={featuredPosts} locale={locale} />
        </div>
    </div>
</div>
