---
import NavbarTitle from '../components/navbar/NavbarBrand.astro';
import NavbarNav from '../components/navbar/NavbarNav.astro';
import NavbarUtility from '../components/navbar/NavbarUtility.astro';
import NavbarBrand from "../components/navbar/NavbarBrand.astro";

import type {ImageMetadata} from "astro";

interface Props {
    logoImage: ImageMetadata
    siteTitle: string;
    navItemList: string[];
}

const {logoImage, siteTitle, navItemList} = Astro.props;
---

<nav class="solitude-navbar">
    <div class="flex h-36">
        <NavbarBrand logoImage={logoImage} siteTitle={siteTitle}/>
        <NavbarNav navItemList={navItemList}/>
        <NavbarUtility/>
    </div>
</nav>
