---
import DockTimelineContainer from '@components/layout/dock/timeline/DockTimelineContainer.tsx';
import type { FeaturedPost } from '@api/ghost/types';

interface Props {
    posts: FeaturedPost[];
}

const { posts } = Astro.props;
---

<div class="justify-items-center">
    <DockTimelineContainer posts={posts} />
</div>
